.header {
    height: 80%;
}

.head {
    text-align: center;
}

body {
    margin: 1.2em;
    background-color: #c3e1f8;
    animation: music 4s none 2s infinite;
    padding-left: 5px;
    overflow-x: hidden;
}

@keyframes music {
    15% {
        background-color: #dfc8d0;
    }
    35% {
        background-color: #f7dcc4;
    }
    50% {
        background-color: #fad0ef;
    }
    65% {
        background-color: #fb8fa1;
    }
    80% {
        background-color: #AEE1E1;
    }
}

.footer {
    height: 20%;
}

.author {
    text-align: center;
    background-color: #f0ffff;
    font-size: 1.2em;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: #1e90ff;
}

a:hover {
    color: #f5193e;
}
